<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body style="background-image: url(/static/adminImg.jpg);     background-attachment: fixed;">

<a href="/home" style="color: black;
    font-size: 18px;
    padding: 5px;
    background-color: ghostwhite;
    margin-left: 5px;
    margin-top: 10px;
    display: block;
    width: 100px;">← Назад</a>

<div style="border: 1px aliceblue outset;
    border-radius: 30px;padding-top: 10px;margin-top: 10%; padding-bottom: 10px;  width: 20%;margin-left: 40%; background-color: #fdffe5">
    <p style="font-size: 25px; text-align: center;">Панель адміністратора</p>

    <a style="font-size: 22px;
    color: black; display: block; text-align: center" href="/userAdmin">Користувачі</a><p>
    <a style="font-size: 22px;
    color: black; display: block; text-align: center" href="/newsAdmin">Новини</a><p>
    <a style="font-size: 22px;
    color: black; display: block; text-align: center" href="/faqAdmin">FAQ</a><p>
</div>


</body>
</html>