<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });

            $('.scrollup').click(function(){
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });

        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</head>
<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2"></script>



<nav class="navbar">
    <a class="a_navbar" href="/home">ГОЛОВНА</a><p>|</p><a class="a_navbar" href="/committee1">ПРИЙМАЛЬНА КОМІСІЯ</a><p>|</p>
    <a class="a_navbar" href="/quest">КВЕСТ</a><p>|</p><a class="a_navbar" href="/contacts">КОНТАКТИ</a>
    <p>|</p><a class="a_navbar" href="/faq">FAQ</a><p>|</p><a class="a_navbar" href="/news">НОВИНИ</a>

    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <button class="sign_out" type="submit">ВИХІД</button>
    </form>
</nav>
<!--<a href="/user">User list</a>-->
<div>
    <img class="home_img"  src="/static/homeImg.jpg">
</div>
<div class="div_home_top3">
    <p style="position: absolute; margin-top: 8px; color: white;width: 100%;font-size: 30px;text-shadow: 0.8px 0.8px #694040; ">Ласкаво просимо на наш сайт!
    <p style="margin-top: 45px;">Тут Ви зможете знайти багато інформації стосовно ВНЗ, приймальної комісії, а також ознайомитись із захоплюючим квестом, завдяки якому Ви зможете ближче ознайомитись з нашим навчальним закладом.</p>
</div>
<div class="pImg">
    <p style="width: 50%; margin-left: 25%; padding-top: 10px;">У цьому розділі Ви зможете отримати більш детальну інформацію про навігацію та підрозділи сайту</p>
</div>

<div>
    <img class="home_imgs" src="/static/13871.jpg">
    <a style="color: black;" href="/committee1">
        <p style="margin-top: -150px; margin-left: 40%">Приймальна комісія</p>
        <p style="margin-top: 30px; margin-left: 40%; font-size: 14px; font-style: italic; width: 50%;">Тут міститься інформація про приймальну комісію, години роботи, адреса, необхідні документи, перелік предметів, тощо.
    </a>
    </p>
</div>
<div style="margin-top: 80px;">
    <img class="home_imgs" src="/static/homeQuestImg.jpg">
    <a style="color: black;" href="/quest">
        <p style="margin-top: -150px; margin-left: 40%">Інформація про квест</p>
        <p style="margin-top: 30px; margin-left: 40%; font-size: 14px; font-style: italic; width: 50%;">Тут міститься інформація про квест, який розроблено студентами для полегшення процесу ознайомлення абітурієнта із навчальним закладом.
    </a>
    </p>
</div>
<div style="margin-top: 80px; margin-bottom: 100px;">
    <img class="home_imgs" src="/static/contImg1.jpg" >
    <a style="color: black;" href="/contacts">
        <p style="margin-top: -150px; margin-left: 40%">Контактна інформація</p>
        <p style="margin-top: 30px; margin-left: 40%; font-size: 14px; font-style: italic; width: 50%;">Тут міститься інформація про те, як зв'язатися із представниками приймальної комісії, адреса, часи роботи, тощо.
    </a>
    </p>
</div>



<a href="#" class="scrollup">Наверх</a>



<footer>
    <div style="padding-top: 10px;margin-bottom: 0; text-align: center;">
        <table style="width: 100%;">
            <tr th:each="footer : ${footers_home}">
                <td th:text="${footer.title_footer}"></td>
                <td th:text="${footer.body_footer}"></td>
            </tr>
        </table>
        <!-- <div style="margin-top: -80px; margin-bottom: 30px">
             <img src="/logo.png">
         </div>-->
        <div style="width: 20%;
    margin-left: 65%;
    margin-bottom: 20px;"><p>Ми у соціальних мережах:</p>
            <span><a href="https://www.facebook.com/onaft"><img style="height: 35px;" th:attr="src=${img_home1}"></a>
        </span>
            <span><a href="https://www.instagram.com/_onaft_/"><img style="height: 30px;" th:attr="src=${img_home2}"></a>
        </span>
        </div>
        <div style="width: 20%;
    margin-left: 16.3%;
    margin-top: -100px;
    margin-bottom: 10px;"><p>Поділитися сайтом:</p>
            <div style="margin-bottom: 10px" class="fb-share-button" data-href="http://localhost:8080/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поділитися</a></div>
            <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

<!--

    <div class="fb-share-button" data-href="http://localhost:8080/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->

    <div style="width: 100%; height: 70px">
        <span><a href="https://www.onaft.edu.ua/"><img style="height: 50px;" th:attr="src=${img_home3}" height="30"></a>
        </span>
        <span><a href="https://mon.gov.ua/ua"><img style="height: 50px;" th:attr="src=${img_home4}" height="30"></a>
        </span>
        <span><a href="http://www.kipik.onaft.edu.ua/index.php/ua/"><img style="height: 50px;" th:attr="src=${img_home5}" height="30"></a>
        </span>
    </div>
</footer>
</body>
</html>