<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New feedback</title>
    <link rel="stylesheet" href="/static/popUp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

<div class="b-container"> <!--style="background-image: image(lemonchiffon)"-->

</div>
<div class="b-popup">
    <form action="/new_feedback" method="post">
        <div class="form-group row">
            <label style="font-weight: bold; font-size: 17px;" class="col-form-label">Назва:</label>
            <div class="col-sm-6">
                <input type="text" value="title_feedback" name="title_feedback" class="form-control" placeholder="Nazva" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-right: 78px; font-weight: bold; font-size: 17px;" class="col-form-label">Text:</label>
            <div class="col-sm-6">
                <input type="text" value="body_feedback" name="body_feedback" class="form-control" placeholder="Відгук" />
            </div>
        </div>
    <div style="margin-left: -14px;">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <button th:action="${addNewFeedback}" style="background-color: #faaeae; width: 120px; height: 40px;" type="submit"></button>
</div>
</form>

    <table style="width: 100%;">
        <tr th:each="feedback : ${feedbackList}">
            <th th:text="${feedback.title_feedback}"></th>
            <th th:text="${feedback.body_feedback}"></th>
            <th th:text="${feedback.author_feedback}"></th>
        </tr>
    </table>
</div>
</body>
</html>